@model Crud.Models.CandidateModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css" />


<div class="container-fluid col-lg-12 p-3 shadow-lg" id="box-container">
    <div class="d-flex align-items-center pt-3">
        <a type="button" class="btn btn-sm btn-floating" id="btn-back" onclick="window.history.back()">
            <i class="bi bi-arrow-left-circle fs-3"></i>
        </a>

        <span id="title" class="ms-4 mt-0 fs-5">Candidate</span>
    </div>

    <input type="hidden" id="ID" name="ID" value=@Model.CandidateId />

    <div id="register-container" class="register-container ps-4 ">
        @await Html.PartialAsync("_RegisterFormPartial", this.Model)
    </div>

    <button type="" id="btn-cancel" class="btn btn-danger" onclick="window.history.back()">Cancel</button>
    <button type="" id="btn-save" class="btn btn-success">Save</button>
</div>

@if (ViewBag.Message != null)

{
    <div class="alert alert-danger mt-3">
        @ViewBag.Message
    </div>

}

@section Scripts
{
    <script src="~/js/candidateReg.js" asp-append-version="true"></script>
}
